<!doctype html>
<html>
<head>
<title>testssl.sh web</title>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/bootstrap-theme.min.css">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="content">
<h1>About | <a href="..">Click for new test</a></h1>
<div>
	<p>
	The Docker Image <a href="https://hub.docker.com/repository/docker/mailsvb/testssl.sh-web" target="_blank">mailsvb/testssl.sh-web</a> is a fork of <a href="https://github.com/shartge/testssl-web" target="_blank">shartge/testssl-web</a> from Sven Hartge
	based on the <a href="https://github.com/TKCERT/testssl.sh-webfrontend" target="_blank">testssl.sh-webfrontend</a>
	Project from <a href="https://github.com/TKCERT" target="_blank">thyssenkrupp CERT</a>.
	</p>
	<p>
	It uses the <a href="https://github.com/drwetter/testssl.sh" target="_blank">testssl.sh</a> Script from Dirk Wetter.
	</p>
<pre>
{{ about | safe }}
</pre>
</div>
<hr>
</div>
</body>
</html>
