<!doctype html>
<html>
<head>
<title>testssl.sh web</title>
<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="content">
    {% block content %}{% endblock %}
</div>
<h4>
	<span class="label label-default col-sm-12">
		This portal uses <a href="https://testssl.sh/" target="_blank">testssl.sh</a>. Click <a href="about/">here</a> for more information.
	</span>
</h4>
</body>
</html>
